@import 'nav.css';
@import 'fish.css';
@import 'location.css';

body {
  background-color: darkorchid;
}

.container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.border {
  border: 2px solid yellow;
}